/* Carrusel Principal */
.carrusel-principal {
  margin-bottom: 2%;
  width: 100%;
  height: auto;
  max-height: 600px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 3px 10px #a7a7a7;
}

.carrusel-contenedor {
  width: 400%;
  height: 100%;
  display: flex;
}

.ccp {
  width: calc(100%/4);
}

.tc {
  width: 100%;
  padding: 10px 60px;
  background-color: #ffffff;
  
}
.imgc img {
  width: 100%;
  height: 100%;
  max-height: 540px;
  object-fit: cover;
}
