/* Carrusel eje */
.carrusel-eje1,
.carrusel-eje2,
.carrusel-eje3,
.carrusel-eje4,
.carrusel-eje5,
.carrusel-eje6 {
  width: 70%;
  min-height: 400px;
  overflow: hidden;
  margin: 3% 3% 4% 3%;
  border-radius: 5px;
  box-shadow: 5px 3px 10px #a7a7a7;
  position: relative;
}

.carrusel-eje2,
.carrusel-eje4,
.carrusel-eje6 {
  margin: 3% 3% 4% 27%;
}

.eje-contenedor1,
.eje-contenedor2,
.eje-contenedor3,
.eje-contenedor4,
.eje-contenedor5,
.eje-contenedor6 {
  display: flex;
  width: 300%;
  animation: desplazamiento 30s infinite linear;
}

.eje1,
.eje2,
.eje3,
.eje4,
.eje5,
.eje6 {
  width: 33.33%;
  object-fit: cover;
  display: flex;
}

.eje1 img,
.eje2 img,
.eje3 img,
.eje4 img,
.eje5 img,
.eje6 img {
  width: 40%;
  height: 400px;
  object-fit: cover;
}

.contenido-eje1,
.contenido-eje2,
.contenido-eje3,
.contenido-eje4,
.contenido-eje5,
.contenido-eje6 {
  flex: 1;
  padding: 2% 2% 2% 1%;
  width: 250px;
  background: #ffffff;
}

/* Botones de navegación */
.dots-container-eje1,
.dots-container-eje2,
.dots-container-eje3,
.dots-container-eje4,
.dots-container-eje5,
.dots-container-eje6 {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: flex; /* Asegúrate de que los puntos se alineen horizontalmente */
  z-index: 1; /* Asegurarse de que los puntos estén por encima de las imágenes */
}

.dots-container-eje1 .dot-eje1,
.dots-container-eje2 .dot-eje2,
.dots-container-eje3 .dot-eje3,
.dots-container-eje4 .dot-eje4,
.dots-container-eje5 .dot-eje5,
.dots-container-eje6 .dot-eje6 {
  width: 10px;
  height: 10px;
  background-color: #ad1cacb2;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 3px;
  user-select: none;
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
}

.dots-container-eje1 .dot-eje1.active,
.dots-container-eje2 .dot-eje2.active,
.dots-container-eje3 .dot-eje3.active,
.dots-container-eje4 .dot-eje4.active,
.dots-container-eje5 .dot-eje5.active,
.dots-container-eje6 .dot-eje6.active {
  background-color: #f91cac;
}

.dots-container-eje1 .dot-eje1:hover,
.dots-container-eje2 .dot-eje2:hover,
.dots-container-eje3 .dot-eje3:hover,
.dots-container-eje4 .dot-eje4:hover,
.dots-container-eje5 .dot-eje5:hover,
.dots-container-eje6 .dot-eje6:hover {
  box-shadow: 0 0 10px #f91cac;
  background-color: #f91cac;
  border: 2px solid #ffffff;
}
