/* Carrusel Noticias */
.carrusel-noticias {
  width: 80%;
  min-height: 358px;
  height: auto;
  margin: 3% auto;
  border-radius: 5px;
  box-shadow: 5px 3px 10px #530e90;
  overflow: hidden;
  position: relative;
}

.noticia-contenedor {
  display: flex;
  transition: transform 0.5s ease; /* Transición suave al cambiar de noticia */
  width: 300%;
  height: 100%;
}

.noticia {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
}

.noticia img {
  width: 40%;
  height: 100%;
  min-height: 359px;
  border-radius: 5px 0 0 5px;
  object-fit: cover;
}

.noticia .contenido-noticia {
  flex: 1;
  padding: 2% 2% 2% 1%;
  width: 56%;
  background: #f6e9f5;
}
