:root {
  --morado: #530e90;
  --rosa: #a01cad;
  --azul_o: #021d41;
  --azul_c: #0656c5;
  --azul_p: #c1d5f0;
  --gris: #dbe1ec;
  --verde: #20ad1c;
  --top: 80px;
}
body {
  height: 100vh;
}
.content-d {
  position: relative;
  width: 75%;
  margin-left: 25%;
  margin-top: 2%;
  display: flex;
  flex-direction: column; /* Cambiado a columna */
}
form {
  width: 100%;
}
.image-upload-area {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 20px; /* Ajustado para espacio */
}
.main-image-preview {
  width: 50%;
  height: 300px;
  background-color: var(--azul_p);
  background-size: cover;
}
.image-upload-button {
  position: absolute;
  top: 90%;
  left: 48%;
  display: flex;
  width: 50px;
  height: 50px;
  background-color: var(--azul_c);
  color: var(--gris);
  border-radius: 50%;
  font-size: 40px;
  justify-content: center;
  cursor: pointer;
}
.image-upload-button:hover {
  background-color: #0e67e1;
  color: #ffffff;
}
.hidden {
  display: none;
}
.text-content {
  position: absolute;
  width: 40%;
  top: 0;
  left: 55%;
}
.title-input {
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--azul_p);
}
.title-input:focus {
  outline: none;
}
.content-a {
  width: 100%;
  min-height: 230px;
  background-color: #c1d5f0;
  border: 0;
  border-radius: 10px;
  padding: 5px;
}
.content-a:focus {
  outline: none;
}
.image-preview-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 60%;
  margin-top: 70px;
}
.image-preview {
  background-color: var(--azul_c);
  background-size: cover;
  height: 100px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; /* Espacio entre el contenedor de imágenes y los botones */
}
.delete-button,
.publish-button {
  width: 10%;
  height: 30px;
  border: 0;
  font-size: 110%;
  transition: all .3s;
  cursor: pointer;
}
.delete-button {
  background-color: var(--rosa);
  color: var(--gris);
  margin-right: 10px;
  position: absolute;
  top: 92%;
  left: 62%;
}
.publish-button {
  background-color: var(--verde);
  color: var(--gris);
  position: absolute;
  top: 50%;
  right: 35%;
}
.publish-button:hover {
  background-color: #2bc327;
  color: #ffffff;
}
.delete-button:hover {
  background-color: #b126be;
  color: #ffffff;
}
