/* menu */
nav{
  background-color: #ffffff;
  box-shadow: 5px 3px 10px #a7a7a7;
}

ul {
  list-style-type: none;
  padding: 1%;
  margin: 0;
  display: flex;
}

ul li{
  margin: 0 0 0 50px;
}

ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.inicio{
  margin: auto 0 auto auto;
  max-width: 40px;
}

ul a:hover {
    color: #a01cad;
    text-decoration: underline;
}

[aria-current="location"] {
  color: #a01cad;
  text-decoration: underline;
}

@media (max-width: 768px) and (max-width: 768px) {
/* menu */
ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex;
}

ul li{
  margin: 0 0 0 10px;
}

ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}
}
