/* noticias de las noticias y proyectos */
.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 2% 2% 2%;
}

.course-container-noticias2{
  background-color: #a01cad;
  padding-top: 30px;
}

.noticias,
.course-container-noticia {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 2 2% 2% 2%;
  margin-bottom: 2%;
}

.course-item {
  width: 25%;
  max-width: 300px;
  max-height: 350px;
  margin: 1%;
  background-color: #fdfdfd;
  border-bottom: 5px solid #000000;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.course-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.course-item h2 {
  margin: 16px;
  font-size: 110%;
  color: #0656c5;
}

.titulo_noticia {
  width: 70%;
  padding: 10px 40px;
  margin-bottom: 10px;
  background-color: #530e90;
  color: #ffffff;
}

.titulo_noticia h2 {
  margin-right: 30px;
}
